development:
  secret_key_base: b4b5b37b7c2ad8c04c3988fbd9ea1211467c3e328f3ab0606cb3ff948194ec335c47e27e916f13a2bf07512b366eca634f9a21ffa5e5d55afc24ec6c1e3641a7
  slack_api_url:   "https://hooks.slack.com/services/secret_1/secret_2/secret_3"
  particle_device_id: "123123123123123123123"

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  slack_api_url:   <%= ENV["SLACK_API_URL"] %>
  particle_api_key:    <%= ENV["PARTICLE_API_KEY"] %>
  particle_device_id:   <%= ENV["PARTICLE_DEVICE_ID"] %>
